
nav div{
    background-color:#FFFFFF;
    display: flex;
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    justify-content: space-between;
    padding-top: 16px;
}
nav div img{
    max-width: 139px;
}
nav div ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav div li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
nav div button{
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    max-height: 44px;
    border: none;
}
