body{
    margin-top: 0px;
    margin: 0px 0px;
    margin-right: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
header{
    background-color:#FFFFFF;
}
nav div{
    
    display: flex;
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    justify-content: space-between;
    padding-top: 16px;
}
nav div img{
    max-width: 139px;
    margin-bottom: 16px;
}
nav div ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav div li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
nav div button{
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    max-height: 44px;
    border: none;
}
.banner{
    background-image: url(assets/hero-bg.png);
    padding-top: 120px;
    padding-bottom: 179px;
    text-align: center;
}
.banner-section h1 {
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    max-width: 770px;
   margin: 0 auto;
}
#first-h1{
    color: #FFFFFF;
    margin-bottom: 0px;
}
#second-h1{
    color: #30B868;
    margin-bottom: 0px;
}
.banner-section p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.button {
    display: flex;
   margin: 0px auto;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
#btn-1,#btn-2,#btn-3{
    background-color: #469165;
    padding: 16px 12px;
    max-height: 52px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
#btn-1{
    border: none;
}
#btn-1 img {
    margin-left: 10px;
}
#btn-2 { background-color:#ffffff00;
    
}
.banner-section h4 {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 12px 8px;
    width: fit-content;
    margin: 0px auto;
   
}
.notes-container{
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    justify-content: space-between;
    padding-top: 20px;
    text-align: center;
}
.notes-container h2{
    text-shadow: 0px 4px 4px 0px #00000025;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}

.notes-container .first-p {
    margin-top: 16px;
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.card{
    margin-top: 44px;
    display: flex;
    gap: 24px;
    max-height: fit-content;
}
.card-info{
    padding: 24px 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px #00000006 ;
}
.card-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    padding: 28px;
}
.card-info h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.card-info p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.brain-container{
    margin-top: 120px;
    display: flex;
    gap: 60px;
    margin: 120px auto 0px;
    width: 85%;
    max-width: 1360px;
    text-align: left;
}
.brain-img{
    max-height: 600px;
}
.section-message{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}
.title{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.description{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}
.text ul {
    list-style: none;
    
    
}
.text ul img{
    width: 20px;
    height: 20px;
    
}
.text li{
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
}
.margin-bottom16{
    margin-bottom: 16px;
    display: flex;
    gap: 6px;
    margin-left: -40px;
    
}
#early-access{
    width: 85%;
    max-width:1360px;
    background-color:#F7F6F2;
    margin: 120px auto 0px;
    padding: 40px 80px;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;

}
.early-access-container{
   
    }
    .early-access-container h2{
        color: #001931;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    .early-access-container p{
        color: #627382;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 24px;
    }


footer{
    margin-top: 120px;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
    
}
.footer-container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1360px; 
}
.social-link h6{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    list-style: 28px;
    margin-bottom:16px;
}
.link span{
    margin-right: 16px;
    color: #FFFFFF;
    height: 20px;
    width: 20px;
}
hr{
    margin-top: 80px;
    margin-bottom: 30px;
}
#copy{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}


button:hover{
    background-color: #627382;
    cursor: pointer;
}
#btn-1:hover{
   background-color: #627382;  
}
#btn-2:hover{
    background-color: #627382;
}
#btn-3:hover{
    background-color: #627382;
}
#btn-3{
    display: flex;
   margin: 0px auto 16px;
   gap: 10px;
}